html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* This will hide horizontal scrollbar */
}



body {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  background-color: #fafafa;
  color: #5f6769;
}

.navbar {
display: flex; /* Use flexbox to align items horizontally */
position: sticky;
top: 0px;
left: 0px;
background-color: #fafafa;
z-index: 1;
width: 100%;
}

#logo-color {
color: #393e46;
list-style-type: none;
}

.navbar-left, .nabar-right {
display: flex;
}

.navbar-left li {
  list-style-type: none;
}

.navbar-right {
list-style-type: none;
display: flex;
margin-left: 64%;
margin-top: 32px;

}

.items{
padding-right: 20px;
}

.items a{
  font-weight: 200;
  color: #5f6769;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;

  }

.flex-container-top {
background-color: #ececec;
display: flex;
}

.flex-container-top ul {
  list-style-type: none;
  }

.flex-container-top img {

  width: 60%;
  padding: 32px 24px;
  }

.flex-container-top li h1 {
  list-style-type: none;
  position: absolute;
  width: 650px;
  left: 80%;
  top: 40%;
  transform: translate(-50%, -50%)
}

.flex-container-top li h2 {
  list-style-type: none;
  position: absolute;
  width: 650px;
  left: 80%;
  top: 60%;
  transform: translate(-50%, -50%)
}

#header-top {
font-size: 60px;
}

#button-top{
  background-color: #3c4245;
  border: none; /* Remove border */
  color: white; /* White text color */
  width: 500px;
  padding: 15px 50px; /* Padding to make the button larger */
  text-align: center; /* Center text horizontally */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button a block element */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin around the button */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 8px; /* Rounded corners */
  position: absolute;
  left: 76%;
  top: 75%;
  transform: translate(-50%, -50%);
  list-style-type: none;
}

.container-1 {



}

.cards{
  position: absolute;
  left: 82%;
  top: 156.4%;
  transform: translate(-50%, -50%);


  }
.card-0 {
  width: 720px;
  height: 300px;
  display: flex;
  overflow: hidden; /* Hide overflow from image */
  background-color: #ececec;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-right: 58px;
  }

.card-img-0 {
  width: 35%; /* Example image width */
  height: auto; /* Maintain aspect ratio */
  margin: 16px 16px;
}

.card-content-0 {
  padding: 20px; /* Example padding */
}

.card-title-0 {
  font-size: 20px; /* Example font size */
  margin-top: 36px; /* Example margin */
}

.card-description-0 {
  margin-top: 10px; /* Example margin */
}

.card-description-0 a {
  text-decoration: none;
}



.card-1 {
  width: 720px;
  height: 300px;
  display: flex;
  overflow: hidden; /* Hide overflow from image */
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-img-1 {
  width: 35%; /* Example image width */
  height: auto; /* Maintain aspect ratio */
  margin: 16px 16px;
}

.card-content-1 {
  padding: 20px; /* Example padding */
}

.card-title-1 {
  font-size: 20px; /* Example font size */
  margin-top: 36px; /* Example margin */
}

.card-description-1 {
  margin-top: 10px; /* Example margin */
}

.card-description-1 a {
  text-decoration: none;
}

.card-2 {
  width: 720px;
  height: 300px;
  display: flex;
  overflow: hidden; /* Hide overflow from image */
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-img-2 {
  width: 35%; /* Example image width */
  height: auto; /* Maintain aspect ratio */
  margin: 16px 16px;
}

.card-content-2 {
  padding: 20px; /* Example padding */
}

.card-title-2 {
  font-size: 20px; /* Example font size */
  margin-top: 36px; /* Example margin */
}

.card-description-2 {
  margin-top: 10px; /* Example margin */
}

.card-description-2 a {
  text-decoration: none;
}

.item-1 {
margin: 32px 26px;

}

.item-1 img {
width: 1268px;
  }

.item-1 h1 {
 font-size: 56px;
 margin-top: 24px;
 margin-bottom: 24px;
}

.item-1 p {
width: 840px;
font-size: 18px;
 }

 .item-1 span {
  width: 840px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 32px;

 }

.start-learning-div {
background-color: #ececec;
padding-top: 32px;
padding-bottom: 32px;
width: 100%;

}
.six-card-container-heading {
font-size: 52px;
text-align: center;
margin-top: 32px;
margin-bottom: 32px;

}

.six-card-container {
  margin: 32px 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Gap between cards */
}

.card-a {
height: 540px;
background-color: #fafafa;
overflow: hidden; /* Hide overflow from image */

}

.card-content-a {

  display: flex;
  flex-direction: column;
  align-items: self-start; /* Center items horizontally */
}

.card-img-a {
  width: 100%; /* Image width */
  height: auto; /* Maintain aspect ratio */
}

.card-title-a {
  padding-top: 16px;
  padding-left: 16px;
  font-size: 20px; /* Example font size */
  margin-top: 0; /* Example margin */
}

.card-description-a {
  width: 300px;
  padding-left: 16px;
  margin-top: 10px; /* Example margin */
  text-align: start; /* Center text horizontally */
}

.card-b {

  height: 540px;
  background-color: #fafafa;
  overflow: hidden; /* Hide overflow from image */

  }

.card-content-b {
display: flex;
flex-direction: column;
align-items: self-start; /* Center items horizontally */
  }

.card-img-b {
width: 100%; /* Image width */
height: auto; /* Maintain aspect ratio */
  }

.card-title-b {
  padding-top: 16px;
  padding-left: 16px;
font-size: 20px; /* Example font size */
 margin-top: 0; /* Example margin */
  }

.card-description-b {
  width: 300px;
  padding-left: 16px;
margin-top: 10px; /* Example margin */
text-align: start; /* Center text horizontally */
  }

.card-c {
height: 540px;
background-color: #fafafa;
overflow: hidden; /* Hide overflow from image */

    }

.card-content-c {
display: flex;
flex-direction: column;
align-items: self-start; /* Center items horizontally */
    }

.card-img-c {
width: 100%; /* Image width */
height: auto; /* Maintain aspect ratio */
    }

.card-title-c {
  padding-top: 16px;
  padding-left: 16px;
font-size: 20px; /* Example font size */
margin-top: 0; /* Example margin */
}

.card-description-c {
  width: 300px;
  padding-left: 16px;
margin-top: 10px; /* Example margin */
text-align: start; /* Center text horizontally */
    }

 .card-d {
height: 540px;
background-color: #fafafa;
overflow: hidden; /* Hide overflow from image */
  }

.card-content-d {
display: flex;
flex-direction: column;
align-items: self-start; /* Center items horizontally */
      }

 .card-img-d {
width: 100%; /* Image width */
height: auto; /* Maintain aspect ratio */
}

.card-title-d {
  padding-top: 16px;
  padding-left: 16px;
font-size: 20px; /* Example font size */
 margin-top: 0; /* Example margin */
      }

.card-description-d {
  width: 300px;
  padding-left: 16px;
margin-top: 10px; /* Example margin */
text-align: start; /* Center text horizontally */
      }

.card-e {
height: 540px;
background-color: #fafafa;
overflow: hidden; /* Hide overflow from image */

 }

 .card-content-e {
display: flex;
flex-direction: column;
align-items: self-start; /* Center items horizontally */
        }

.card-img-e {
width: 100%; /* Image width */
height: auto; /* Maintain aspect ratio */
        }

.card-title-e {
  padding-top: 16px;
  padding-left: 16px;
font-size: 20px; /* Example font size */
margin-top: 0; /* Example margin */
        }

.card-description-e {
  width: 300px;
  padding-left: 16px;
margin-top: 10px; /* Example margin */
text-align: start; /* Center text horizontally */
 }

.card-f {
height: 540px;
background-color: #fafafa;
overflow: hidden; /* Hide overflow from image */
     }

.card-content-f {
display: flex;
flex-direction: column;
align-items: self-start; /* Center items horizontally */
          }

.card-img-f {
width: 100%; /* Image width */
height: auto; /* Maintain aspect ratio */
 }

.card-title-f {
  padding-top: 16px;
  padding-left: 16px;
font-size: 20px; /* Example font size */
margin-top: 0; /* Example margin */
   }

.card-description-f {
  width: 300px;
  padding-left: 16px;
margin-top: 10px; /* Example margin */
text-align: start; /* Center text horizontally */
   }

.lower-div h1 {
text-align: center;
padding-top: 32px;
margin-bottom: 32px;
   }

.container-2 {
display: flex;

}



.container-2 video {
height: 700px;
width: 60%;
padding-left: 24px;
margin-top: 30px;
margin-left: 12px;

}

.container-2 li {
 list-style: none;

  }


.carta-1 {
width: 720px;
height: 290px;
display: flex;
overflow: hidden; /* Hide overflow from image */
background-color: #ececec;
margin-top: 16px;
margin-left: 62px;
margin-bottom: 16px;
padding-right: 64px;
     }

.carta-img-1 {
width: 35%; /* Example image width */
height: auto; /* Maintain aspect ratio */
margin: 16px 16px;
   }

.carta-content-1 {
padding: 20px; /* Example padding */
   }

.carta-title-1 {
font-size: 20px; /* Example font size */
margin-top: 36px; /* Example margin */
width: 240px
   }

.carta-description-1 {
margin-top: 10px; /* Example margin */
width: 240px
   }


.carta-2 {
width: 720px;
height: 290px;
display: flex;
overflow: hidden; /* Hide overflow from image */
margin-top: 16px;
margin-left: 62px;
margin-bottom: 16px;
   }

.carta-img-2 {
width: 35%; /* Example image width */
height: auto; /* Maintain aspect ratio */
margin: 16px 16px;
   }

.carta-content-2 {
padding: 20px; /* Example padding */
   }

.carta-title-2 {
font-size: 20px; /* Example font size */
margin-top: 36px; /* Example margin */
   }

.carta-description-2 {
margin-top: 10px; /* Example margin */
   }

#thesis-title {
margin-left: 38px;
text-align: left;
   }

.thesis-p {
  text-align: start;
margin-left: 38px;
width: 1200px;
   }


.footer {
justify-content: space-between;
display: flex;
padding-top: 32px;


}
.left {
order:1;
margin-left: 32px;
  }

.right {

margin-right: 32px;
order: 2;
  }
